@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;

    --frist-color: #;
    --frist-color-alt: #;
    --title-color: #;
    --text-color: #;
    --text-color-light: #;
    --body-color: #;
    --container-color: #;


    /* font and typography */
    --body-font: ;
    --

}