@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3rem;

    --frist-color: ##069c54;
    --frist-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #a6a6a6;
    --body-color: #fbfbfb;
    --container-color: #ffffff;


    /* font and typography */
    --body-font: p;
    --biggest-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;



}